@-webkit-keyframes alarmTimer {
  0% { background-color: transparent; }
  50% { background-color: red;}
  100% { background-color: transparent;}
}
.timer {
  -webkit-animation-name: alarmTimer;
  -webkit-animation-iteration-count: 5;  
  -webkit-animation-duration: 1s; 
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
span {
margin: auto;
width: 200px;
display: block;
font-size: 40px;
text-align: center;
}