/* enlève toute les marges d'origine a la page*/
*{
    margin: 0;
    padding: 0;
}
/* centrer l'image en milieux de page */
.notfound{
    text-align: center;
    height: 400px;
}
/* bouton retour a la home page */
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    font-size: 25px;
    padding: 10px;
    background: transparent;
    font-family: "Russo One", sans-serif;
  }
  /* passage de la souris sur le bouton */
  button:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  button:focus {
    outline: 0;
  }
  