div {
    height: 250px;
    width: 200px;
    border: none;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.encart {
    width: 100%;
    margin: 0;
}

p {
    width: 100%;
    background-color: grey;
    text-align: center;
    margin: 0;
}