button {
  height: 200px;
  width: 150px;
  background-color: grey;
  border: none;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  cursor: auto;
}

button:focus {
  outline: 0;
}

.encart {
  background-color: gray;
  color: white;
  text-align: center;
  word-break: break-word;
  font-size: 16px;
  width: 100%;
}

.encart p {
  margin: 0;
}
