button {
  height: 240px;
  width: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  border-radius: 10px;
  border: transparent;
  position: relative;
}

button:focus {
  outline: 0;
}

.encart {
  background-color: gray;
  color: white;
  text-align: center;
  word-break: break-word;
  font-size: 16px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

.encart p {
  margin: 0;
}

.button1 {
  border: 1px solid;
  background-color: white;
  opacity: 0.2;
}
