<div id="rules">

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1>Règles</h1>
            </div>
            <div class="row">

                <!--------------------------Etape 1------------------------------>

                <article class="col-md-6 col-sm-12 col-12">
                    <p>Début du jeu :<br><br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Une première carte avec une date révélée
                        est placée sur la timeline. <br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Une carte est automatiquement placée
                        dans la main.<br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Le timer démarre.
                    </p>
                </article>
                <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame1" [alt]="''">
            </div>


            <!--------------------------Etape 2------------------------------>

            <div class="row">
                <article class="col-md-6 col-sm-12 col-12">
                    <p>Fonctionnement du jeu : <br><br>

                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Pour placer une carte il faut appuyer
                        sur le bouton à gauche ou à droite de la carte.<br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Le jeu valide ou non la position.
                    </p>
                </article>
                <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame2" [alt]="''">
            </div>

            <!--------------------------Etape 3------------------------------>

            <div class="row">
                <article class="col-md-6 col-sm-12 col-12">
                    <p>Si la position est <span style="color: red;">Incorrecte</span> : <br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Une pénalité du temps de 2 secondes est
                        réalisée sur le timer.<br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> La carte disparaît du jeu.<br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Une autre carte est automatiquement
                        placée dans la main.
                    </p>

                </article>
                <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame3" [alt]="''">
            </div>

            <!--------------------------Etape 4------------------------------>

            <div class="row">
                <article class="col-md-6 col-sm-12 col-12">
                    <p>Si la position est <span style="color: green;">Correcte</span> :<br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> La date de la carte est révélée et reste
                        sur la timeline. <br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Une autre carte est automatiquement
                        placée dans la main.
                    </p>
                </article>
                <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame4" [alt]="''">
            </div>

            <!--------------------------Etape 5------------------------------>

            <div class="row">
                <article class="col-md-6 col-sm-12 col-12">
                    <p>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Le but est de placer le plus de cartes
                        sur la timeline avant que le timer s'arrête.
                    </p>
                </article>
                <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame5" [alt]="''">
            </div>

            <!--------------------------Etape 6------------------------------>
            <div class="row">
                <article class="col-md-6 col-sm-12 col-12">
                    <p>Fin du jeu :<br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> La partie s'arrête quand le timer arrive
                        à 0.<br>
                        <img class="rightArrow" [src]="imageButton" [alt]="''"> Le score est calculé en fonction du
                        nombre de cartes placée sur la timeline.
                    </p>

                </article>
                <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame6" [alt]="''">
            </div>
            <button col-md-6 col-sm-12 col-12 [routerLink]='[""]'><img class="leftArrow "
                    src="../../assets/img/leftArrow1.png" [alt]="''"></button>

        </div>
    </div>