<body>
   
    <div class="container-fluid">
        <div class="container">
         <div class="row">
         <h1 >Règles</h1>
     </div>
         <div class="row">
             
 <!--------------------------Etape 1------------------------------>

             <article class="col-md-6 col-sm-12 col-12">
                <p>Le joueur débute le jeu <br><br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> Une première carte (carte 1) avec une date révélée est placée sur la timeline. <br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> Le joueur pioche une carte (carte 2)<br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> Le timer démarre (5min, décroissant)</p>
             </article>
             <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame1" [alt]="''">
        </div>    
 

 <!--------------------------Etape 2------------------------------>

         <div class="row">
             <article class="col-md-6 col-sm-12 col-12">
                <p>Le joueur place la carte 2 avant ou après la carte 1<br><br>

                Le joueur valide son choix :<br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> La date de la carte 2 est révélée<br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> Le jeu valide ou non la position</p>
             </article>
             <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame3" [alt]="''">
        </div>    
 
 <!--------------------------Etape 3------------------------------>

         <div class="row">
             <article class="col-md-6 col-sm-12 col-12">
                <p>Si la position est <span style="color: red;">Incorrecte</span> : <br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> Une pénalité du temps de 2 secondes est réalisée sur le timer<br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> La carte révélée disparaît et n’est plus dans la pioche</p>
             </article>
             <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame5" [alt]="''">
        </div>   
         
 <!--------------------------Etape 4------------------------------>

         <div class="row">
            <article class="col-md-6 col-sm-12 col-12">
                <p>Si la position est <span style="color: green;">Correcte</span> :<br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> La carte reste sur la timeline <br>
                <img class="rightArrow" [src]="imageButton" [alt]="''"> Le joueur peut piocher une autre carte</p>
            </article>
            <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame4" [alt]="''">
        </div>  

<!--------------------------Etape 5------------------------------>
        <div class="row">
            <article class="col-md-6 col-sm-12 col-12">
                <p>Le joueur pioche une autre carte et la place à la position qui lui semblent le plus
                pertinent.</p>
            </article>
            <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame8" [alt]="''">
        </div> 


<!--------------------------Etape 6------------------------------>

        <div class="row">
            <article class="col-md-6 col-sm-12 col-12">
                <p>Le jeu se termine quand le chrono est terminé ou quand toutes les cartes ont été posées<br><br>

                Le joueur voit son score (nombre de cartes bien placées en temps imparti)<br><br>
                
                Le joueur peut rejouer</p>
            </article>
            <img class="col-md-6 col-sm-12 col-12 tailleRegle" [src]="imageGame7" [alt]="''">
        </div>    
        <button col-md-6 col-sm-12 col-12 [routerLink]='[""]'><img class ="leftArrow " src="../../assets/img/leftArrow1.png" [alt]="''"></button>
        </div>
        
    </div>
   






<!-- Réécriture des règles
<p>Bienvenue dans Unalgar, le jeu qui vous fait traverser l'histoire ! <br>
Pour réussir le jeu, vous devez piocher des images qui feront référence à des évènements historiques et les placer sur une timeline, une frise chronologique. <br>
Piochez et placer votre carte sur la timeline, par rapport à la carte déjà présente : <br>
- à gauche si vous pensez que l'évènement de la carte s'est produit avant <br>
- à droite si vous pensez que l'évènement s'est produit après. <br>
Quand vous êtes sûr de votre choix, validez votre position à l'aide du bouton qui apparaît. <br>
Vous aurez 5 minutes seulement pour jouer ! Placez un maximum de cartes et découvrez votre score ! <br>
<br>
BON JEU !
</p>-->

 
 
  </body>