body {
  background-image: url(../../assets/img/backgroundContact.jpg);
  width: 100%;
}

p {
  font-size: 20px;
  text-align: center;
  width: 65%;
}

h2 {
  font-size: 30px;
  padding-top: 30px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 50px;
  width: 60px;
  margin: 10px;
}

.logo:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.formAlign {
  display: flex;
  justify-content: center;
}

.form-item {
  margin: 20px;
}

label {
  display: block;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  border: transparent;
  font-size: 25px;
  padding: 10px;
  background: transparent;
}

button:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.return {
  width: 50px;
}

button:focus {
  outline: 0;
}
