<div id="contact">
  <div class="container-fluid">
    <div class="container">
      <div class="row">

        <img class="col-md-8 col-sm-12 col-12 imgLogo" [src]="imageLogoTeam" [alt]="''">

      </div>



      <!---------------------------Qui Sommes Nous? ----------------->

      <h2>Qui sommes nous?</h2>
      <div class="row">
        <p class="col-md-10 col-sm-12">Unalgar Timeline est un projet mené par <a
            href="https://www.linkedin.com/in/tju-xenexai-81b3311a5/" target="_blank">Tju</a>, <a
            href="https://www.linkedin.com/in/adel-djelti-dev/" target="_blank">Adel</a>, <a
            href="https://www.linkedin.com/in/mauranne-lagneau" target="_blank">Mauranne</a>, <a
            href="https://www.linkedin.com/in/fabienpicard00/" target="_blank">Fabien</a> et<a
            href="https://www.linkedin.com/in/mathieu-ponce-6005b7204/" target="_blank"> Mathieu</a>, 5
          étudiant-es de la Wild Code School dans le cadre de leur formation. Après 2 mois de formation au développement
          web, nous avons utilisé nos connaissances en HTML, CSS, JS et Angular pour construire un jeu ludique et
          instructif, autour d'une de nos passions : le cinéma !
        <p>Même s'il n'est pas parfait, nous sommes fiers du résultat. Ca a été un beau défi pour nous et nous espérons
          que jouer à Unalgar Timeline sera une chouette
          expérience pour vous !</p>
        <p>A bientôt !</p>
      </div>
      <!---------------------------Nous Contacter ----------------->


      <h2>Adresse</h2>
      <div class="row">
        <p class="col-md-6 col-sm-12 col-12">{{nom}} <br>
          {{adress.street}}<br>
          {{adress.city}} <br>
          {{telephoneNumber}}</p>

        <iframe class="col-md-8 col-sm-12"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.2488541080365!2d4.825337515932395!3d45.746156779105334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea4ab96b2285%3A0xd07b1fb24dc8242f!2s17%20Rue%20Delandine%2C%2069002%20Lyon!5e0!3m2!1sfr!2sfr!4v1619079493456!5m2!1sfr!2sfr"
          width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>


      <!---------------------------Nous Retrouver ----------------->


      <h2>Nous retrouver</h2>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12 logosDiv">
          <img class="logo" [src]="imageFb" [alt]="logoFacebook">
          <img class="logo" [src]="imageTwitter" [alt]="logoTwitter">
          <img class="logo" [src]="imageInstagram" [alt]="logoInstagram">
          <img class="logo" [src]="imageGithub" [alt]="logoGithub">
        </div>
      </div>


      <!--------------------------- Formulaire ----------------->


      <h2>Pour plus d'informations</h2>

      <form (ngSubmit)="form.valid && onSubmit()" #myForm="ngForm" #form="ngForm">
        <div class="formAlign">
          <div class="form-item">
            <label for="lastname-user">Nom</label>
            <input class="col-md-12 col-sm-12 col-12" type="text" name="lastname" [(ngModel)]="user.lastname" required
              minlength="3" maxlength="15" #lastname="ngModel" size="11"  />
            <div *ngIf="form.submitted && lastname.errors">
              <span *ngIf="lastname.errors?.required">*Le nom est requis</span>
              <span *ngIf="lastname.errors?.minlength">*Le nom doit avoir au
                moins 3 caractères</span>
            </div>
          </div>

          <div class="form-item">
            <label for="firstname-user">Prénom</label>
            <input class="col-md-12 col-sm-12 col-12" type="text" name="firstname" [(ngModel)]="user.firstname" required
              minlength="3" maxlength="15" #firstname="ngModel" size="11" />
            <div *ngIf="form.submitted && firstname.errors">
              <span *ngIf="firstname.errors?.required">*Le prénom est requis</span>
              <span *ngIf="firstname.errors?.minlength">*Le prénom doit avoir au moins 3 caractères</span>
            </div>
          </div>
        </div>

        <div class="form-item">
          <label for="mail-user">@E-Mail</label>
          <input class="col-md-6 col-sm-12 col-12" type="mail" name="mail" [(ngModel)]="user.mail" required email
            #mail="ngModel" size="50" />
          <div *ngIf="form.submitted && mail.errors">
            <span *ngIf="mail.errors?.required">*Le mail est requis</span>
            <span *ngIf="mail.errors?.email">*Le mail doit être au format ****@***</span>
          </div>
        </div>

        <div class="form-item">
          <label for="message-user">Message</label>
          <textarea class="col-md-6 col-sm-12" type="textarea" name="message-user" [(ngModel)]="user.message" required
            #message="ngModel"></textarea>
          <div *ngIf="form.submitted && message.errors">
            <span *ngIf="message.errors?.required">*Merci de remplir votre message</span>
          </div><br>

          <button type="submit">Envoyer</button>

          <div *ngIf="form.submitted && form.invalid">
            <span>*Le formulaire n'est pas rempli correctement</span>
          </div>
        </div>
      </form>

      <button [routerLink]='[""]'><img class="return" src="../../assets/img/leftArrow1.png"></button>

    </div>


  </div>

</div>