<div id="jeux">
    <app-timer></app-timer>
    <app-timeline #timeline [playingCard]="playingCard" (playingCardEmitter)="onReceiveplayingCard($event)">
    </app-timeline>

    <div class="bottom-menu">

        <app-card-deck class="center" #cardDeck (playingCardEmitter)="onReceiveplayingCard($event)"></app-card-deck>

        <div class="test center">
            <div *ngFor="let msg of listeMessage">
                <div class="message">
                    <div *ngIf="msg.typeReponse"><img src="/assets/img/super.png"></div>
                    <div *ngIf="!msg.typeReponse"><img src="/assets/img/pikachu.png"><br><span>C'était en
              {{msg.textReponse}}</span></div>
                </div>
            </div>
        </div>

        <app-hand class="center" #hand [playingCard]="playingCard"></app-hand>

    </div>
    <!--mise en place d'un bouton avec un la méthode click qui renvoie à la fonction confirmeretour() dans le game.ts-->
    <button (click)="confirmeRetour()">
    <img class="backHome" src="../../assets/img/leftArrow1.png" />
  </button>
</div>