<body>
    <app-timer #timer></app-timer>
    <app-timeline [playingCard]="playingCard"></app-timeline>
    <div class="bottom-menu">
        <app-card-deck #cardDeck (playingCardEmitter)="onReceiveplayingCard($event)" (startTimerEmitter)="timer.startTimer()" (showHandCardEmitter)="hand.displayHandCard()" (firstCardEmitter)="onReceivefirstCard($event)"></app-card-deck>
        <app-hand #hand [playingCard]="playingCard"></app-hand>
    </div>
    <button [routerLink]="['']">
    <img src="../../assets/img/leftArrow1.png" />
    <!--<div *ngIf="!hasGameStarted">
      <div (click)="pickFirstCard()"><-->
  </button>
</body>