.scroller {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  background-color: wheat;
}

.firstTimeline {
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 200px;
  background-color: wheat;
}

.timelineCard {
  background: #b0bec5;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 200px;
  width: 150px;
  text-align: center;
  word-break: break-word;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.timelineDiv {
  display: flex;
  align-items: center;
}

.emptySpace {
  background: black;
  border-radius: 50%;
  opacity: 0.5;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 10px;
}

.validation {
  background-color: green;
  border-radius: 50%;
  border: 1px solid grey;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

