button {
  height: 200px;
  width: 120px;
  background-color: darkgoldenrod;
  opacity: 0.7;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

button:focus {
  outline: 0;
}
