button {
  background-image: url(/assets/img/unalgarLogo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 240px;
  width: 160px;
  border-radius: 10px;
  cursor: auto;
  color: white;
}

.startingButton {
  cursor: pointer;
}

button:focus {
  outline: 0;
}
